name: update awesome-stars
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  # push:
  #   branches: [ main ]
  #   paths:
  #     - '.github/workflows/**'
jobs:
  awesome-stars:
    name: update awesome-stars
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install starred
    - name: update repo
      env:
        GITHUB_TOKEN: ${{ github.token }}
      # run:  starred --username zekxtreme --repository starred --token ${GITHUB_TOKEN} --filename starred.txt
      run: starred --username zekxtreme --repository starred --sort --token ${GITHUB_TOKEN} --message 'stars update by github actions cron'   

